footer {
    background-color: $soil;
    color: $mushroom-light;
    padding: 5vh 2vw 10vh 2vw; // extra padding on bottom due to scroll issues (in chrome) on (android) phones
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer a {
    color: white;
}

footer .icons {
    display: flex;
    gap: 10px;
}

footer .icon {
    width: 20px;
    filter: invert(1);
}

.flaticon-attribute {
    font-size: 80%;
}

@media only screen and (min-width: 768px) {
    footer {
        padding-bottom: 5vh;
    }
}
