// MENU ICON

#menuButton {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    margin: 20px;
    z-index: 100;
}

#menuButton line {
    stroke: $mushroom-light;
    stroke-width: 4px;
    stroke-linecap: round;
    transition: all .3s;
}

#menuButton .line-1-toggled-form {
    stroke: $mushroom-dark;
    transform:
        translateX(2px)
        rotate(31deg)
        scaleX(112%);
}
#menuButton .line-2-toggled-form {
    transform:
        scaleX(0%);
}
#menuButton .line-3-toggled-form {
    stroke: $mushroom-dark;
    transform:
        translateX(-12px)
        translateY(4px)
        rotate(-31deg)
        scaleX(112%);
}


// MENU

#nav {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    padding-top: 70px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    
    background-color: $mushroom-light;
    transition: all 0.2s;
    z-index: 1;
}

#nav a {
    text-decoration: none;
    font-size: 200%;
    text-transform: uppercase;
    color: $mushroom-dark;
    font-weight: bold;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}
