/* https://coolors.co/f4f1de-92817a-386641-3d2c2e */

/*
font-family: 'EB Garamond', serif;
https://fonts.google.com/specimen/EB+Garamond?category=Serif

font-family: 'Open Sans', sans-serif;
https://fonts.google.com/specimen/Open+Sans
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid lightgray; */
}

body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2 {
    /* font-family:'Times New Roman', Times, serif */
    font-family: 'EB Garamond', serif;
}


/* PARALLAX */

.parallax-container {
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    perspective: 3px;
}

.background {
    display: flex; /* to remove whitespace below element */
    position: relative;
    z-index: -1;
    transform: translateZ(-2px) scale(2);
}

.background img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: left;
}


/* HEADER */

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: #f0eee7;
    text-shadow: 0 0 5px black;
    font-size: 180%;
}

header h1 {
    transform: translateY(15vh);
}


/* HEADER - MENU ICON */

#menuButton {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    margin: 20px;
    z-index: 1;
}

#menuButton line {
    stroke: #f0eee7;
    stroke-width: 4px;
    stroke-linecap: round;
    transition: all .3s;
}

#menuButton .line-1-toggled-form {
    stroke: #92817a;
    transform:
        translateX(2px)
        rotate(31deg)
        scaleX(112%);
}
#menuButton .line-2-toggled-form {
    transform:
        scaleX(0%);
}
#menuButton .line-3-toggled-form {
    stroke: #92817a;
    transform:
        translateX(-12px)
        translateY(4px)
        rotate(-31deg)
        scaleX(112%);
}


/* MENU */

#nav {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    padding-top: 70px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    
    background-color: #f0eee7;
    transition: all 0.2s;
}

#nav a {
    text-decoration: none;
    font-size: 200%;
    text-transform: uppercase;
    color: #92817A;
    font-weight: bold;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}


/* MAIN */

main {
    background-color: white;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
    text-align: center;
}

section.first h2 {
    margin-top: 40px;
}

section p,
section h2 {
    margin: 0 5vw;
}

.img-container {
    display: flex;
    width: 100%;
}
.img-container img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

a.button {
    margin: 15px 0;
    padding: 5px 10px;

    border-radius: 5px;
    background-color: #f0eee7;
    border: 1px solid #92817a80;

    color: #92817A;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: bold;
    text-decoration: none;
}

.border {
    border-top: 1px solid rgb(220, 220, 220);
    width: 50%;
    margin: 0 auto;
}


/* FOOTER */

footer {
    background-color: #3D2C2E;
    color: #f0eee7;
    padding: 30px 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer a {
    color: white;
}

footer .icons {
    display: flex;
    gap: 10px;
}

footer .icon {
    width: 20px;
    filter: invert(1);
}

.flaticon-attribute {
    font-size: 80%;
}


/* STYLING FOR MEDIUM+ SCREENS */

@media only screen and (min-width: 768px) {
    html {
        font-size: 120%;
    }

    section {
        flex-direction: row;
    }

    .img-container img {
        height: 400px;
        width: 50vw;
    }

    section.first {
        flex-direction: column;
        width: 50vw;
        margin: 0 auto;
    }

    section.reverse {
        flex-direction: row-reverse;
    }

    .border {
        border: none;
    }
}