/* https://coolors.co/f4f1de-92817a-386641-3d2c2e */


/*
font-family: 'Kanit', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px solid lightgray;
}

body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2 {
    font-family:'Times New Roman', Times, serif
}


/* HEADER */

header {
    height: 100vh;
    background-color: #92817a;
    background-color: #3D2C2E;
    color: #f0eee7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 200%;
}

#menuButton {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    margin: 10px;
}

#menuButton line {
    stroke: #f0eee7;
    stroke-width: 4px;
    stroke-linecap: round;
}


/* MENU */

#nav {
    height: 100vh;
    width: 100vw;
    background-color: #f0eee7;
    position: absolute;
    top: 0;
    transition: all 0.2s;

    display: flex;
    flex-direction: column;
    font-size: 200%;
    align-items: flex-end;

    padding: 10px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}


/* MAIN */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
    margin: 40px 0px;
}

.img-container {
    display: flex;
    width: 100%;
}
.img-container img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

a.button {
    background-color: #386641;
    color: #f0eee7;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.border {
    border-top: 1px solid rgb(220, 220, 220);
    width: 50%;
    margin: 0 auto;
}

/* FOOTER */

footer {
    background-color: #3D2C2E;
    color: #f0eee7;
    padding: 40px;
    text-align: center;
}