* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Kanit", sans-serif;
  background: #f0eee7;
}

input {
  padding: 5px;
}

h1 {
  font-family: "EB Garamond", serif;
}

label, input, textarea, #label-title {
  font-family: "Kanit", sans-serif;
}

#nav {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 97vw;
  padding: 20px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  background-color: #f0eee7;
  transition: all 0.2s;
}

#nav a {
  text-decoration: none;
  font-size: 200%;
  text-transform: uppercase;
  color: #92817a;
  font-weight: bold;
  margin-right: 15px;
  margin-top: 3px;
}

iframe {
  width: 100vw;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.main_container {
  display: flex;
  flex-direction: column;
}

.top_bar {
  width: 100vw;
  background: #f0eee7;
  height: 8vh;
  position: sticky;
  top: 0;
  display: flex;
}

.AS_container {
  display: flex;
  width: 100vw;
  background-color: #f0eee7;
  color: black;
}

/* Would need to be placed over the top bar */
.left_bar {
  width: 6vw;
  height: 100%;
  border-right: 1px solid black;
  position: fixed;
  z-index: 1;
}

.left_container {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.right_container {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.card_right {
  height: 50vh;
}

.card_left {
  height: 80vh;
  width: 50vw;
}

.txtB1,
.txtB2 {
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  padding: 7vw;
}

.card_title {
  font-weight: bolder;
  text-align: center;
  margin-bottom: 4vh;
}

form {
  margin: 6vw;
}

fieldset {
  border: none;
  margin: 0;
}

#fs-frm-inputs {
  height: 300px;
  margin: 0px;
  color: #386641;
  font-family: lora;
  font-weight: 200;
}

input {
  border: none;
}

#menuButton {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  margin: 10px;
  z-index: 100;
}

#menuButton line {
  stroke: #92817a;
  stroke-width: 4px;
  stroke-linecap: round;
  transition: all 0.3s;
}

#menuButton .line-1-toggled-form {
  stroke: #92817a;
  transform: translateX(2px) rotate(31deg) scaleX(112%);
}

#menuButton .line-2-toggled-form {
  transform: scaleX(0%);
}

#menuButton .line-3-toggled-form {
  stroke: #92817a;
  transform: translateX(-12px) translateY(4px) rotate(-31deg) scaleX(112%);
}

/*if screen equal 769 or smaller :*/
@media only screen and (max-width: 768px) {
  .AS_container {
    flex-direction: column;
  }

  /*This is the style for the parallax on small screens*/
  /*Photo by <a href="https://unsplash.com/@anniespratt?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Annie Spratt</a> on <a href="https://unsplash.com/s/photos/mushroom-farm?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  */
  #hidewhensmall {
    display: none;
  }

  .hello-section {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    color: #f0eee7;
  }

  .fofo {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25%;
    margin-bottom: 15%;
  }

  textarea {
    width: 250px;
    border: none;
    padding: 5px;
  }

  .contacts-details {
    height: 100%;
    text-align: left;
    margin-left: 10%;
    margin-top: 30%;
  }

  #con-title {
    padding-bottom: 5%;
    padding-top: 10%;
    font-size: 20px;
    color: #386641;
  }

  #con-text, #con-address {
    font-size: 10px;
    color: #386641;
  }

  #con-address {
    margin-bottom: 25%;
  }

  .parallax-hello {
    min-height: 400px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pict1 {
    max-width: 80%;
    padding-left: 10%;
  }

  #fs-frm-inputs {
    font-weight: 200;
  }

  .left_container {
    width: 90vw;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .right_container {
    width: 90vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 6vw;
  }

  .card_left, .card_right {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .txtB1 {
    font-size: 20px;
    padding: 7vw;
    margin-top: 10%;
  }

  .form-button {
    background-color: #386641;
    border: none;
    color: #f0eee7;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  footer {
    background-color: #3d2c2e;
    color: #f0eee7;
    text-align: center;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100vw;
  }

  footer a {
    color: white;
  }

  footer .icons {
    display: flex;
    gap: 10px;
    z-index: 1;
  }

  footer .icon {
    width: 20px;
    filter: invert(1);
  }

  .flaticon-attribute {
    font-size: 80%;
  }
}
/*If screen equal 769 or bigger*/
@media only screen and (min-width: 769px) {
  .hello-section {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    color: #f0eee7;
    font-size: 6vh;
  }

  .parallax-hello {
    min-height: 400px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pict1 {
    width: 60%;
    justify-self: center;
    align-self: center;
  }

  .card_left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fofo {
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20vh;
    margin-bottom: 10%;
  }

  .contacts-details {
    margin-left: 10%;
    margin-top: 25px;
  }

  #con-title {
    padding-bottom: 10%;
    margin-top: 25%;
    font-size: 20px;
    color: #386641;
  }

  #con-text, #con-address {
    font-size: 12px;
    color: #386641;
    font-weight: 200;
  }

  textarea {
    width: 250px;
    border: none;
    padding: 7px;
  }

  .form-button {
    background-color: #386641;
    border: none;
    color: #f0eee7;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  footer {
    background-color: #3d2c2e;
    color: #f0eee7;
    padding: 30px 10px;
    text-align: center;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100vw;
  }

  footer a {
    color: white;
  }

  footer .icons {
    display: flex;
    gap: 10px;
  }

  footer .icon {
    width: 20px;
    filter: invert(1);
  }

  .flaticon-attribute {
    font-size: 80%;
  }

  iframe {
    width: 50%;
    align-self: center;
  }
}

/*# sourceMappingURL=style.css.map */
