* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Kanit", sans-serif;
}

.main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top_bar {
  width: 100vw;
  background: linear-gradient(154.46001deg, rgba(255, 255, 255, 0.6) 6.094%, rgba(254, 254, 254, 0.6) 6.094%, rgba(56, 102, 65, 0.500417) 38.16351%, rgba(56, 102, 65, 0.5) 38.16351%);
  height: 8vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px solid black;
}

.AS_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  background-color: white;
  color: black;
}

/* Would need to be placed over the top bar */
.left_bar {
  width: 6vw;
  height: 100vh;
  background: linear-gradient(154.46001deg, rgba(146, 129, 122, 0.6) 6.094%, rgba(255, 255, 255, 0.500417) 38.16351%, rgba(255, 255, 255, 0.5) 38.16351%);
  border-right: 1px solid black;
  position: fixed;
  z-index: 1;
}

.left_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 6vw;
  width: 50vw;
  border-right: 1px solid black;
}

.right_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  border-right: 1px solid black;
}

.card_right {
  height: 80vh;
  border-bottom: 1px solid black;
}

.card_left {
  border-bottom: 1px solid black;
  height: 80vh;
  width: 50vw;
}

.txtA2,
.txtB1,
.txtB2 {
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  padding: 7vw;
}

.card_title {
  font-weight: bolder;
  text-align: center;
  margin-bottom: 4vh;
}

@media only screen and (max-width: 769px) {
  .AS_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  img {
    height: 50vh;
    margin: 5vh;
  }
  .left_container {
    width: 90vw;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .right_container {
    width: 90vw;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 6vw;
  }
  .card_left {
    height: 100vh;
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .txtA2,
  .txtB1,
  .txtB2 {
    font-size: 10px;
  }
}

@media only screen and (min-width: 769px) {
  img {
    width: 60%;
    margin: 12vh;
  }
}
/*# sourceMappingURL=style.css.map */